<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div id="container" class="container">
<!-- FORM SECTION -->
    
<div class="row">
<!-- SIGN UP -->
<div class="col align-items-center flex-col sign-up">
<div class="form-wrapper align-items-center">
<form action="/register" method="post">
<div class="form sign-up">
<div class="input-group">
<i class='bx bxs-user'></i>
<input type="text" name="nom" id="nom"placeholder="Nom">
</div>
<div class="input-group">
<i class='bx bxs-user'></i>
<input type="text" name="prenom" id="prenom" placeholder="Prenom">
</div>
<div class="input-group">
<i class='bx bxs-user'></i>
<input type="text" name="adresse" id="adresse" placeholder="Adresse">
</div>

<div class="input-group">
<i class='bx bx-mail-send'></i>
<input type="email" name="email" id="email" placeholder="Email">
</div>
<div class="input-group">
<i class='bx bxs-lock-alt'></i>
<input type="password" name="password" id="password" placeholder="••••••••">
</div>
<button>
Sign up
</button>
<p>
<span>
Already have an account?
</span>
<b onclick="toggle()" class="pointer">
Sign in here
</b>
</p>
</div>
          </form>
</div>
			
</div>
<!-- END SIGN UP -->
<!-- SIGN IN -->
<div class="col align-items-center flex-col sign-in">
<div class="form-wrapper align-items-center">
          <form action="/login" method="post">
<div class="form sign-in">
<div class="input-group">
<i class='bx bxs-user'></i>
<input type="email" name="email" id="email" placeholder="Email" >
</div>
<div class="input-group">
<i class='bx bxs-lock-alt'></i>
<input type="password" name="password" id="password" placeholder="••••••••">
</div>
<button>
Sign in
</button>
<p>
<a href="/forget">Forgot password?</a>


</p>
<p>
<span>
Don't have an account?
</span>
<b onclick="toggle()" class="pointer">
Sign up here
</b>
</p>
</form>
</div>
</div>
<div class="form-wrapper">

</div>
</div>
<!-- END SIGN IN -->
</div>
<!-- END FORM SECTION -->
<!-- CONTENT SECTION -->
<div class="row content-row">
<!-- SIGN IN CONTENT -->
			<div class="col align-items-center flex-col">
				<div class="text sign-in">
					<h2>
						Welcome
					</h2>
	
				</div>
				<div class="img sign-in">
		
				</div>
			</div>
			<!-- END SIGN IN CONTENT -->
			<!-- SIGN UP CONTENT -->
			<div class="col align-items-center flex-col">
				<div class="img sign-up">
				
				</div>
				<div class="text sign-up">
					<h2>
						Join with us
					</h2>
	
				</div>
			</div>
			<!-- END SIGN UP CONTENT -->
		</div>
		<!-- END CONTENT SECTION -->
	</div>
  <script>
                let container = document.getElementById('container')

toggle = () => {
	container.classList.toggle('sign-in')
	container.classList.toggle('sign-up')
}

setTimeout(() => {
	container.classList.add('sign-in')
}, 200)
  </script>
</body>
</html>