<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Rendez-vous</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styledesc.css">
    <style>
        body {
            font-family: 'Rubik', sans-serif;
            background-color: #f7f9fc;
        }

        .jobs-list-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="jobs-list-container">
        <h2>Edit Rendez-vous</h2>
        <div class="jobs">
            <div class="job">
                <form action="/mrdv" method="post">
                    {{!-- <div class="form-group">
                        <input type="text" id="nomDoc" name="nomDoc" placeholder="Nom" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="prenomDoc" name="prenomDoc" placeholder="Prenom" class="form-control" required>
                    </div> --}}
                    <div class="form-group">
                        <input type="datetime-local" id="dateR" name="dateR" class="form-control" 
                            value="{{details.dateR}}"
                        required>
                    </div>
                    <input type="hidden" id="id" name="id" value="{{details.idR}}">
                    <button type="submit">Edit Rendez-vous</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
