
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Medical Landing Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/loopple.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-transparent py-3 shadow-none">
        <div class="container">
            <a class="navbar-brand w-8" href="#" data-config-id="brand">
               Sérénithérapie
            </a>

            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                    <li class="nav-item mx-2">
                        <a href="/logind" class="nav-link ps-2 cursor-pointer">
                            Login
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/login" class="nav-link ps-2 cursor-pointer">About</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="javascript:void(0);" class="nav-link ps-2 cursor-pointer">Service</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="javascript:void(0);" class="nav-link ps-2 cursor-pointer">FAQ</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="javascript:void(0);" class="btn mb-0 cursor-pointer bg-gradient-info">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="position-relative">
        <div class="page-header min-vh-50 border-radius-xl py-5">
            <div class="container h-100">
                <div class="row">
                    <div class="col-lg-5 mb-3">
                        <h1 class="fadeIn2 fadeInBottom mb-0 display-4 font-weight-bolder">We Care About Your <span class="text-info text-gradient">Mental Health</span></h1>
                    </div>
                    <div class="col-lg-7 mt-auto mb-3">
                        <p class="mb-0">I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves. They're slowed down by their perception of themselves.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-3 my-auto">
                        <h6 class="fadeIn2 fadeInBottom mb-0 font-weight-bolder text-info text-gradient">Our Schedule </h6>
                        <ul class="list-unstyled mt-3 mb-5">
                            <li><strong class="text-dark">Mon – Fri:</strong> 10:00 am – 22:00 pm</li>
                            <li><strong class="text-dark">Sat – Sun:</strong> 10:00 am – 16:00 pm</li>
                        </ul>
                        <a href="javascript:;" class="btn bg-gradient-dark mb-5">Contact us</a>
                    </div>
                    <div class="col-lg-9 mt-auto">
                        <div class="position-relative ms-lg-5 mb-0 mb-md-7 mb-lg-0 h-75">
                            <div class="bg-gradient-info opacity-1 w-100 h-100 border-radius-md position-absolute d-lg-block d-none mt-n4"></div>
                            <img src="https://loopple.s3.eu-west-3.amazonaws.com/images/0MRrLQEhkY0d0KUEJDZaSwwy8QKmEmT8yz0CI7a6.jpg" class="w-100 border-radius-md mt-n2 ms-lg-n3 position-relative z-index-5" alt="">
                            <div class="bg-gradient-info w-lg-45 w-60 ms-auto border-radius-sm p-4 mt-n7 z-index-2 position-absolute end-0 me-n4">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-phone text-white" aria-hidden="true"></i>
                                            <p class="text-white mb-0 ms-2 text-sm font-weight-bold">(216) 20 232 323</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-envelope text-white" aria-hidden="true"></i>
                                            <p class="text-white mb-0 ms-2 text-sm font-weight-bold">itaqnLabs@gmail.com</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-map-pin text-white" aria-hidden="true"></i>
                                            <p class="text-white mb-0 ms-2 text-sm font-weight-bold">Tunisia,Tozeur</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    
             
    
    
    
    <script src="https://loopple.s3.eu-west-3.amazonaws.com/soft-ui-design-system/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system/assets/js/soft-design-system.min.js?v=1.0.5" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/countup.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/flatpickr.min.js"></script>
    <script>
        if (document.getElementById("state1")) {
                    const countUp = new CountUp("state1", document.getElementById("state1").getAttribute("countTo"));
                    if (!countUp.error) {
                      countUp.start();
                    } else {
                      console.error(countUp.error);
                    }
                  }
                  if (document.getElementById("state2")) {
                    const countUp1 = new CountUp("state2", document.getElementById("state2").getAttribute("countTo"));
                    if (!countUp1.error) {
                      countUp1.start();
                    } else {
                      console.error(countUp1.error);
                    }
                  }
                  if (document.getElementById("state3")) {
                    const countUp2 = new CountUp("state3", document.getElementById("state3").getAttribute("countTo"));
                    if (!countUp2.error) {
                      countUp2.start();
                    } else {
                      console.error(countUp2.error);
                    };
                  }
        
         if (document.querySelector('.datepicker-1')) {
              flatpickr('.datepicker-1', {
              }); // flatpickr
            } 
        
         if (document.querySelector('.datepicker-2')) {
              flatpickr('.datepicker-2', {
              }); // flatpickr
            }
    </script>
</body>