body {
    font-family: 'Rubik', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
  }
  
  .jobs-list-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .jobs-list-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .job {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-wrapper {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4299e1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3182ce;
  }
  
  @media (max-width: 768px) {
    .jobs-list-container {
      padding: 10px;
    }
  }
  